@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
#cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 10, 10);
    width: 100%;
    height: 80px;
    padding-top: 20px;
    padding-left: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.192);
    margin-bottom: 15px;    
}

#gratinado a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: 'Fascinate Inline', cursive;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.192);
    font-weight: normal;
}
#menu{
    margin-top: 15px;
}
#menu a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin-right: 10px;

}
#menu a:hover{
    color:rgb(174, 26, 26);
}
.post{
    width: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}

#nomereceita{
    display: block;
    background-color: red;
    position: relative;
    bottom: 2px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
 }
 #nomereceita a{
    text-decoration: none;
    color: white;
    font-size: 29px;
    font-family: 'Satisfy', cursive;
    font-weight: normal;
 }
 #postagens{
    display: flex;
    flex-wrap: wrap;
 }
main{
    width: 75%;
    margin: auto;
}
footer{
    background-color: red;
    text-align: center;
    color: white;
    height: 50px;
    box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.316);
}
footer p{
    padding-top: 25px;
}
#nomereceita:hover{
    background-color: rgb(234, 131, 131);
}
